#calendar {
  max-width: 100%;
  margin: 0 auto;
  background: #eeeeee;
}

.fc-agenda-view .fc-day-grid .fc-row{
  display: none;
}

.fc-minor, .fc-minor td, .fc-time-grid .fc-slats .fc-minor td{
  border-top: none;
}

#calendar .fc-body .fc-widget-content .fc-time-grid-container .fc-slats tr .fc-axis {
  padding: 0;
  width: 48px!important;
  border: 0;
}