{% load static %}
<html>
    <head>
        <title>TESTING</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Fauna+One|Prata" rel="stylesheet"> 
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% bootstrap_messages %}
    </head>
    <body>
        
        <div class="content">
            <header>
                <div class="location">
                    <div class="flag"></div>
                    <h4>EN</h4>
                    <div class="clear"></div>
                </div>
                <div class="menu">
                    <ul>
                        <li>Home</li>
                        <li>About us</li>
                        <li>Contact</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </header>
            <div class="tag-line">
                <h1>Get .. Set .. Plan</h1>
            </div>
            <div class="location-input">
                <form action="/url/to/submit/" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Submit
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        
    </body>
</html>