{% load static %}
<html>
    <head>
        <title>TESTING</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Fauna+One|Prata" rel="stylesheet"> 
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    </head>
    <body>
        
        <div class="content">
            <header>
                <div class="location">
                    <div class="flag"></div>
                    <h4>EN</h4>
                    <div class="clear"></div>
                </div>
                <div class="menu">
                    <ul>
                        <li>Home</li>
                        <li>About us</li>
                        <li>Contact</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </header>
            <h1>Dashboard</h1>
        </div>
        
    </body>
</html>